---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: autoupdate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 2"

permissions:
  contents: read
  issues: write
  models: read

jobs:
  auto-update:
    runs-on: ubuntu-latest

    steps:
      - name: Generate token
        id: token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        with:
          app_id: ${{ secrets.TOKEN_EXCHANGE_APP }}
          installation_retrieval_mode: id
          installation_retrieval_payload: ${{ secrets.TOKEN_EXCHANGE_INSTALL }}
          private_key: ${{ secrets.TOKEN_EXCHANGE_KEY }}
          permissions: >-
            {"contents": "write", "issues": "write", "models": "read"}

      - name: Checkout source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ steps.token.outputs.token }}
          fetch-depth: 0

      - name: Setup golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod

      - name: Setup kubebuilder
        uses: actionhippie/setup-kubebuilder@ed3b6c44de55a5452226f09de1fcdbea1c83db3c # v1

      - name: Setup models
        run: gh extension install github/gh-models --force

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "github@webhippie.de"

      - name: Run kubebuilder
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
          GH_TOKEN: ${{ steps.token.outputs.token }}
        run: |
          kubebuilder alpha update \
            --force \
            --push \
            --from-branch master \
            --restore-path .github/workflows \
            --open-gh-issue \
            --use-gh-models

...
